<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lenovo.newThink.dao.UserThinkingMapper">

	<resultMap id="userThinkingResultMap" type="UserNewIdeaVo" >
		<id property="id" column="id" />
		<result property="userId" />
		<result property="content" />
		<result property="picUrl" />
		<result property="isPost" />
		<result property="position_x" />
		<result property="position_y" />
		<result property="color" />
	</resultMap>

	<insert id="insertUserThink" parameterType="UserNewIdeaVo">
		INSERT INTO user_newidea
		(content,color,picUrl,userId,isPost)
		VALUES
		( #{content,jdbcType=VARCHAR},#{color,jdbcType=VARCHAR},#{picUrl,jdbcType=VARCHAR},#{userId,jdbcType=NUMERIC},#{isPost,jdbcType=NUMERIC} )
  	</insert>
  	
	<update id="modifyUserThink" parameterType="UserNewIdeaVo">
		update user_newidea set 
		content=#{content,jdbcType=VARCHAR},
		picUrl=#{picUrl,jdbcType=VARCHAR},userId =#{userId,jdbcType=NUMERIC},isPost =#{isPost,jdbcType=NUMERIC},position_x =#{position_x,jdbcType=NUMERIC},position_y =#{position_y,jdbcType=NUMERIC},color =#{color,jdbcType=VARCHAR} where id = #{id}	
	</update>
	
	<select id="getUserThink" parameterType="long"  resultMap="userThinkingResultMap">
		SELECT * FROM user_newidea WHERE id = #{newIdeaid}
	</select>
	
	<select id="getUserThinkListByUserId" parameterType="long"  resultMap="userThinkingResultMap">
		SELECT * FROM user_newidea WHERE userId = #{userId}
	</select>
	
	<select id="getUserThinkList" parameterType="long"  resultMap="userThinkingResultMap">
		SELECT * FROM user_newidea
	</select>
	
	<select id="deleteUserThink" parameterType="long"  resultMap="userThinkingResultMap">
		delete FROM user_newidea WHERE id = #{id}
	</select>
	
	<select id="changePostStatus" parameterType="long"  resultMap="userThinkingResultMap">
		update user_newidea set 
		isPost =#{isPost,jdbcType=NUMERIC} where id = #{id}
	</select>
	
	<select id="changePosition_x" parameterType="long"  resultMap="userThinkingResultMap">
		update user_newidea set 
		position_x =#{position_x,jdbcType=NUMERIC} where id = #{id}
	</select>
	
	<select id="changePosition_y" parameterType="long"  resultMap="userThinkingResultMap">
		update user_newidea set 
		position_y =#{position_y,jdbcType=NUMERIC} where id = #{id}
	</select>
</mapper>